# /etc/file_encrypter.config
# This is a WELL FORMED SAMPLE configuration file for the file_encrypter program.
# Edit this as necessary for your filesystem
# The directory paths specified here will determine how the program operates.
# Comments and empty lines are ignored as usual.
# THE FIRST LINE OF THIS CONFIGURATION FILE MUST BE A COMMENT
#
# There can be no empty lines between variables and values, or between values assigned to the same variable.
# Variable names are donoted by a string ending with the equals '=' character.

## ########### ENCRYPTION SYSTEM TO BE USED:  ########################

# encryption_system variable:
# Either Public Key encryption OR Symmetric Key encryption

encryption_system=
public_key
#symmetric_key 

## ########### OUTPUT FILE FORMAT TO BE USED:  ########################

# output_file_format variable:
# Either ascii or binary

output_file_format=
ascii
#binary

## ########### SENDER UID TO BE USED:  ########################

# sender_uid variable
# zero or one...

sender_uid=
user@host234.com

## ########### LIST OF RECIPIENT UIDS TO BE USED:  ########################

# recipient_uid_list variable:
# zero or more...

recipient_uid_list=
user@host234.com
user@host678.org



