# ~/.config/key-generator-and_manager.config.SAMPLE
# This is a WELL FORMED SAMPLE configuration file for the key_generator_and_manager program.
# Edit this as necessary for your filesystem
# The directory paths specified here will determine how the program operates.
# Comments and empty lines are ignored as usual.
# THE FIRST LINE OF THIS CONFIGURATION FILE MUST BE A COMMENT 
#
# There can be no empty lines or comments between variables and values, or between values assigned to the 
# same variable. Variable names are donoted by a string ending with the equals '=' character.

## ########### DIRECTORY IN WHICH WE WANT TO STORE THE FILES TO BE BACKED UP:  ########################

# synchronised_location_holding_dir_fullpath variable:
# Following the generation of a new public key encryption key-pair, this is the location to which public keyrings,
# newly generated revocation certificates, imported and exported public keys will be copied.
# From this location they will be in position to be synchronised, encrypted
# and backed up as determined by their CIA requirements.
# This directory will NOT be created if it doesn't already exist.
# This should be a single file path relative to the root of your filesystem,
# (ie the full, absolute path with leading /). Only one single value can be assigned here.

synchronised_location_holding_dir_fullpath=
/home/algo/dir1/dir2/syncd_stuff/

## ########### DIRECTORIES IN WHICH GnuPG STORES KEYRINGS AND REVOCATION CERTIFICATES:  ########################

# public_keyring_default_directory_fullpath variable:
# The standard, default location for GnuPG public keyrings on linux systems

public_keyring_default_directory_fullpath=
/home/algo/.gnupg/

# revocation_certificate_default_directory_fullpath variable:
# The standard, default location for pre-generated GnuPG revocation certificates on linux systems
## NOTE: THIS DIRECTORY DOESN'T EXIST UNTIL AFTER KEYS HAVE BEEN MADE FOR THE FIRST TIME!
revocation_certificate_default_directory_fullpath=
/home/algo/.gnupg/openpgp-revocs.d/



